/* putting an image in a circulr shape */

.myImage{
    width: 200px;
    height: 200px;
    border-radius: 200px;

}

.myText{
    font-size: 60px;
    color: green;
}

.thisText{
    color: red;
    font-size: 25px;
}

.theName{
    display: block;
    margin-bottom: 10px ;
    margin-top:10px;
    width: 800px;
    border: solid 2px grey;
    border-radius: 6px;
    height: 50px;
}

.the_text{
    height: 400px;
    width: 300px;
    background-color: pink;
    display: inline-block;
}
.my_text{
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-
}