/* putting an image in a circulr shape */

.myImage{
    width: 200px;
    height: 200px;
    border-radius: 200px;

}

.myText{
    font-size: 60px;
    color: green;
}

.thisText{
    color: red;
    font-size: 25px;
}

.theName{
    display: block;
    margin-bottom: 10px ;
    margin-top:10px;
    width: 800px;
    border: solid 2px grey;
    border-radius: 6px;
    height: 50px;
}

.the_text{
    height: 400px;
    width: 300px;
    background-color: pink;
    display: inline-block;
}
.my_text{
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-
}


.container{
    background-color: gold;
    height:800px;
    
}

.input_box{
    margin-left: 300px;
    width: 500px;
    border: 2px solid silver;
}

.the_container{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: orange;
    position: absolute;
    margin-left: 50px;
}

.this_container{
    margin-left: 900px;
}

.second_container{
    margin-top: 80px;
}

.the_button{
    border: 2px solid silver;
    background-color: green;
    border-radius: 6px;
    width: 150px;
    height: 60px;
    color: white;
    font-size: large;
}

.the_added_item{
    margin-left: 200px;
    margin-top: 20px;
}